.highlights {
    background-color: var(--light-blue);
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

.highlights__title {
    color: var(--dark-gray);
    font-family: var(-montserrat);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.highlights__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.highlights__panel-img {
    box-shadow: 0 2px 10px 5px #00000020;
    margin-bottom: .5rem;
    width: 100vw;
    max-width: 600px;
}

.highlights__panel-text {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.highlights__button {
    color: var(--dark-red);
    border-color: var(--dark-red);
    margin: 0 auto;
}